<div class="page-header"></div>
<div class="container-fluid">
  <p class="text-muted text-center">BEST FOOTER EVER</p>
  <p class="text-info text-center">ElectionApp by FrozenSandVideo Inc.</p>
  <div class="col-xs-3 text-center">
    Szymon Bakunowicz
  </div>
    <div class="col-xs-3 text-center">
    Marcin Bogdan
    </div>
    <div class="col-xs-3 text-center">
    Tomasz Busłowski
    </div>
    <div class="col-xs-3 text-center">
    Adam Sujeta
    </div>
</div>