<style>
  #map {
    height: 400px;
    width: 100%;
  }
</style>

<h3 style="text-align: center"> Aplikacja stworzona przez studentów wydziału informatyki Politechniki Białostockiej</h3>
<h3> Twórcy:</h3>
<h3 > - Szymon Bakunowicz</h3>
<h3> - Marcin Bogdan</h3>
<h3> - Tomasz Busłowski</h3>
<h3> - Adam Sujeta</h3>
<hr>
<h3> Nasze biuro znajduje się: </h3>

<div id="map"></div>
<script>
    function initMap() {
        var uluru = {lat: 53.117603, lng: 23.145343};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZftIozMDDCyk6flYFyJx0ELTP2NtJ1Vg&callback=initMap">
</script>