<div class="page-header">
  <%= link_to elections_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Powrót
  <% end %>
  <h3>Edycja wyborów</h3>
</div>

<%= render 'form' %>
