/* Tutaj zmieniam głowne NIE-bootstrapowe komponenty */

body {
  background-image: url("https://static1.squarespace.com/static/548f4d66e4b058708c328dad/548f62dce4b06603e52a7f4b/5864446f59cc68953ac5491b/1482966128856/Savin-NY-Website-Background-Web.jpg?format=2500w");
  background-color: #7a8b9f;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", sans-serif
}

.head{
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.dateField {
  margin-left: 60px;
}